# Executable files
*

# Static lib files
*.a

# Compiled files
*.o
*.out
*.exe

# Temporary files
*.tmp
*.log

# Editor and IDE files
*.swp
*.vscode/
*.idea/

# System files
.DS_Store
Thumbs.db

# Doc files
*.pdf

# Not ignore *.c *.h files
!*.c
!*.h
